name: build-exes

env:
  PYTHON_VERSION_BUILD_EXES: "3.11"
  POETRY_VERSION: "1.4"

on:
  workflow_dispatch:
    inputs:
      build_linux:
        description: "Build executables for linux?"
        required: true
        type: boolean
        default: true
      build_macos:
        description: "Build executables for macOS?"
        required: true
        type: boolean
        default: true
      build_windows:
        description: "Build executables for Windows?"
        required: true
        type: boolean
        default: true
      build_onedir:
        description: "Build one-dir?"
        required: true
        type: boolean
        default: true
      build_onefile:
        description: "Build one-file?"
        required: true
        type: boolean
        default: true
      logLevel:
        description: "PyInstaller log level"
        required: true
        default: "INFO"

jobs:
  build-windows-executables:
    if: github.event.inputs.build_windows == 'true'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # get all history and tags

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION_BUILD_EXES }}

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: venv-build-windows-latest-${{ hashFiles('**/poetry.lock') }}

      - name: Install poetry
        run: python -m pip install poetry==${{ env.POETRY_VERSION }}

      - name: Configure poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry config installer.modern-installation false

      - name: Install dependencies
        run: poetry install --without dev

      - name: Get executable version name and store git SHA
        run: |
          $CUR_TAG = $(git describe --tags $(git rev-list --tags --max-count=1))
          echo "CUR_TAG is: $CUR_TAG"
          echo "cur_tag=$CUR_TAG" >> $env:GITHUB_ENV
          $vers = git describe --tags
          echo "vers is: $vers"
          echo "vers=$vers" >> $env:GITHUB_ENV
          $sha = git rev-parse HEAD
          echo "sha is: $sha"
          echo "sha=$sha" >> $env:GITHUB_ENV

      - name: Build with pyinstaller for Windows (file)
        if: github.event.inputs.build_onefile == 'true'
        working-directory: pyinstaller
        run: ./make.ps1 -ExeName "matflow-${{ env.vers }}-win" -LogLevel ${{ github.event.inputs.logLevel }} -BuildType 'onefile'

      - name: Build with pyinstaller for Windows (folder)
        if: github.event.inputs.build_onedir == 'true'
        working-directory: pyinstaller
        run: ./make.ps1 -ExeName "matflow-${{ env.vers }}-win-dir" -LogLevel ${{ github.event.inputs.logLevel }} -BuildType 'onedir'

      - name: Upload executable artifact (file)
        if:  github.event.inputs.build_onefile == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-win.exe
          path: pyinstaller/dist/onefile/matflow-${{ env.vers }}-win.exe

      - name: Upload executable artifact (folder)
        if:  github.event.inputs.build_onedir == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-win-dir
          path: pyinstaller/dist/onedir/matflow-${{ env.vers }}-win-dir

      - name: Upload spec file
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-win.spec
          path: pyinstaller/matflow-${{ env.vers }}-win.spec

      - name: Upload build directory
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-win-build
          path: pyinstaller/build/matflow-${{ env.vers }}-win

      - name: Set demo data GitHub URL using current git SHA (file) # instead of default which is current version tag
        if: github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-win.exe config set-github-demo-data-dir ${{ env.sha }}

      - name: Set demo data GitHub URL using current git SHA (folder) # instead of default which is current version tag
        if: github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-win-dir/matflow-${{ env.vers }}-win-dir.exe config set-github-demo-data-dir ${{ env.sha }}

      - name: Run test suite on the frozen app (file)
        if:  github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-win.exe test

      - name: Run test suite on the frozen app (folder)
        if:  github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-win-dir/matflow-${{ env.vers }}-win-dir.exe test


  build-macos-executables:
    if: github.event.inputs.build_macos == 'true'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # get all history and tags

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION_BUILD_EXES }}

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: venv-build-macos-latest-${{ hashFiles('**/poetry.lock') }}

      - name: Install poetry
        run: python -m pip install poetry==${{ env.POETRY_VERSION }}

      - name: Configure poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry config installer.modern-installation false

      - name: Install dependencies
        run: poetry install --without dev

      - name: Get executable version name and store git SHA
        run: |
          CUR_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          echo "CUR_TAG is: $CUR_TAG"
          echo "cur_tag=$CUR_TAG" >> $GITHUB_ENV
          vers=$(git describe --tags)
          echo "vers is: $vers"
          echo "vers=$vers" >> $GITHUB_ENV
          sha=$(git rev-parse HEAD)
          echo "sha is: $sha"
          echo "sha=$sha" >> $GITHUB_ENV

      - name: Build with pyinstaller for macOS (file)
        if: github.event.inputs.build_onefile == 'true'
        working-directory: pyinstaller
        run: ./make.sh matflow-${{ env.vers }}-macOS ${{ github.event.inputs.logLevel }} 'onefile'

      - name: Build with pyinstaller for macOS (folder)
        if: github.event.inputs.build_onedir == 'true'
        working-directory: pyinstaller
        run: ./make.sh matflow-${{ env.vers }}-macOS-dir ${{ github.event.inputs.logLevel }} 'onedir'

      - name: Upload executable artifact (file)
        if:  github.event.inputs.build_onefile == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-macOS
          path: pyinstaller/dist/onefile/matflow-${{ env.vers }}-macOS

      - name: Upload executable artifact (folder)
        if:  github.event.inputs.build_onedir == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-macOS-dir
          path: pyinstaller/dist/onedir/matflow-${{ env.vers }}-macOS-dir

      - name: Upload spec file
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-macOS.spec
          path: pyinstaller/matflow-${{ env.vers }}-macOS.spec

      - name: Upload build directory
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-macOS-build
          path: pyinstaller/build/matflow-${{ env.vers }}-macOS

      - name: Set demo data GitHub URL using current git SHA (file) # instead of default which is current version tag
        if: github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-macOS config set-github-demo-data-dir ${{ env.sha }}

      - name: Set demo data GitHub URL using current git SHA (folder) # instead of default which is current version tag
        if: github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-macOS-dir/matflow-${{ env.vers }}-macOS-dir config set-github-demo-data-dir ${{ env.sha }}

      - name: Run test suite on the frozen app (file)
        if:  github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-macOS test

      - name: Run test suite on the frozen app (folder)
        if:  github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-macOS-dir/matflow-${{ env.vers }}-macOS-dir test


  build-executables-linux:
    if: github.event.inputs.build_linux == 'true'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/hpcflow/centos7-poetry:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # get all history and tags

      - name: Set ownership
        run: |
          # see: https://github.com/actions/runner/issues/2033#issuecomment-1204205989
          # this is to fix GIT not liking owner of the checkout dir
          chown -R $(id -u):$(id -g) $PWD

      - name: Configure poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry config installer.modern-installation false

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: venv-build-CentOS-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: poetry install --without dev

      - name: Get executable version name and store git SHA
        run: |
          CUR_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          echo "CUR_TAG is: $CUR_TAG"
          echo "cur_tag=$CUR_TAG" >> $GITHUB_ENV
          vers=$(git describe --tags)
          echo "vers is: $vers"
          echo "vers=$vers" >> $GITHUB_ENV
          sha=$(git rev-parse HEAD)
          echo "sha is: $sha"
          echo "sha=$sha" >> $GITHUB_ENV

      - name: Build with pyinstaller for CentOS (file)
        if: github.event.inputs.build_onefile == 'true'
        working-directory: pyinstaller
        run: ./make.sh matflow-${{ env.vers }}-linux ${{ github.event.inputs.logLevel }} onefile

      - name: Build with pyinstaller for CentOS (folder)
        if: github.event.inputs.build_onedir == 'true'
        working-directory: pyinstaller
        run: ./make.sh matflow-${{ env.vers }}-linux-dir ${{ github.event.inputs.logLevel }} onedir

      - name: Upload executable artifact (file)
        if: github.event.inputs.build_onefile == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-linux
          path: pyinstaller/dist/onefile/matflow-${{ env.vers }}-linux

      - name: Upload executable artifact (folder)
        if: github.event.inputs.build_onedir == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-linux-dir
          path: pyinstaller/dist/onedir/matflow-${{ env.vers }}-linux-dir

      - name: Upload spec file
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-linux.spec
          path: pyinstaller/matflow-${{ env.vers }}-linux.spec

      - name: Upload build directory
        if:  ((github.event.inputs.build_onefile == 'true') || (github.event.inputs.build_onedir == 'true'))
        uses: actions/upload-artifact@v3
        with:
          name: matflow-${{ env.vers }}-linux-build
          path: pyinstaller/build/matflow-${{ env.vers }}-linux

      - name: Set demo data GitHub URL using current git SHA (file) # instead of default which is current version tag
        if: github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-linux config set-github-demo-data-dir ${{ env.sha }}

      - name: Set demo data GitHub URL using current git SHA (folder) # instead of default which is current version tag
        if: github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-linux-dir/matflow-${{ env.vers }}-linux-dir config set-github-demo-data-dir ${{ env.sha }}

      - name: Run test suite on the frozen app (file)
        if: github.event.inputs.build_onefile == 'true'
        run: |
          pyinstaller/dist/onefile/matflow-${{ env.vers }}-linux test

      - name: Run test suite on the frozen app (folder)
        if: github.event.inputs.build_onedir == 'true'
        run: |
          pyinstaller/dist/onedir/matflow-${{ env.vers }}-linux-dir/matflow-${{ env.vers }}-linux-dir test
