name: test
concurrency:
  | # e.g. don't run simultaneously on the same branch (since we may commit to that branch)
  ci-${{ format('{0}github.head_ref', 'refs/heads') || github.ref }}

env:
  PYTHON_VERSION_PRE_COMMIT: 3.9

on:
  workflow_dispatch: # manual invocation
  push:
    branches-ignore: [main, develop] # have to manually change these
  pull_request:
    types: [opened, edited, synchronize]
    branches: [main, develop] # have to manually change these

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # PAT of user who has permission to bypass branch
          # protection || or standard GITHUB_TOKEN if running on an external fork (won't
          # be able to commit fixes):
          token: ${{ secrets.HPCFLOW_ACTIONS_TOKEN || secrets.GITHUB_TOKEN }}
          # checkout PR source branch (head_ref) if event is pull_request:
          ref: ${{ github.head_ref || github.ref }}

      - run: |
          git config user.name hpcflow-actions
          git config user.email hpcflow-actions@users.noreply.github.com

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION_PRE_COMMIT }}

      - name: pre-commit
        # avoid exit code 1 (which halts GH actions) from pre-commit run command by
        # running twice:
        run: |
          pip install pre-commit
          pre-commit install
          export SKIP=no-commit-to-branch
          pre-commit run --all-files || pre-commit run --all-files

      - name: pre-commit push changes
        run: |
          if git diff --quiet; then
            echo "No pre-commit changes"
          else
            git commit -am "pre-commit fixes [skip ci]"
            git push
          fi

  test:
    needs: pre-commit
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-18.04]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install and configure poetry
        run: |
          python -m pip install poetry
          poetry config virtualenvs.in-project true

      - name: Cache the virtualenv
        uses: actions/cache@v2
        with:
          path: ./.venv
          key: ${{ runner.os }}-test-${{ matrix.python-version }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: |
          poetry install

      - name: Run tests
        run: |
          poetry run python -m pytest --verbose --exitfirst -k "not task_schema and not task_template and not resolve_elements and not input_value and not action"

  test-CentOS:
    needs: pre-commit
    runs-on: ubuntu-latest
    container:
      image: aplowman/centos7-poetry
    steps:
      - uses: actions/checkout@v2
        with:          
          ref: ${{ github.ref }}

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Cache the virtualenv
        uses: actions/cache@v2
        with:
          path: ./.venv
          key: venv-CentOS-test-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: poetry install

      - name: Run tests
        run: |
          poetry run python -m pytest --verbose --exitfirst -k "not task_schema and not task_template and not resolve_elements and not input_value and not action"
